# Server Config
PORT=5000
NODE_ENV=production
FRONTEND_URL=https://your-domain.kg

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/furniture_db?schema=public"

# Authentication Secrets
JWT_SECRET="super-secret-jwt-key-replace-in-production-min-32-chars"

# Default Furniture Store Settings
WHATSAPP_NUMBER=996706035765
DEFAULT_ADMIN_EMAIL=admin@furniture.kg
